[submodule "3rdparty/src/protobuf"]
	path = 3rdparty/src/protobuf
	url = https://github.com/google/protobuf.git
[submodule "3rdparty/src/OpenBLAS"]
	path = 3rdparty/src/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
