version: 1.0.{build}

pull_requests:
  do_not_increment_build_number: true

skip_tags: true
skip_branch_with_pr: true

image: Visual Studio 2013

environment:
  URL_3rdparty: https://github.com/luoyetx/misc/blob/master/mini-caffe/3rdparty.zip?raw=true
  URL_model: https://github.com/luoyetx/misc/blob/master/mini-caffe/model.zip?raw=true
  PYTHON2: "C:\\Python27-x64"
  PYTHON3: "C:\\Python35-x64"

install:
  - ps: |
      if (!(Test-Path "3rdparty.zip")) {
        echo "Downloading 3rdparty.zip from ${env:URL_3rdparty}"
        appveyor DownloadFile "${env:URL_3rdparty}" -FileName 3rdparty.zip -Timeout 1200000
      }
  - cmd: |
      7z x 3rdparty.zip -y -o"%APPVEYOR_BUILD_FOLDER%" >NUL

before_build:
  - cmd: |
      call generatepb.bat

build_script:
  - cmd: |
      mkdir build
      cd build
      cmake .. -DUSE_JAVA=ON -G "Visual Studio 12 2013 Win64"
      msbuild mini-caffe.sln /t:Rebuild /p:Configuration=Release;Platform=x64 /m
      cd ..

before_test:
  - ps: |
      if (!(Test-Path "model.zip")) {
        echo "Downloading model.zip from ${env:URL_model}"
        appveyor DownloadFile "${env:URL_model}" -FileName model.zip -Timeout 1200000
      }
  - cmd: |
      7z x model.zip -y -o"%APPVEYOR_BUILD_FOLDER%/build/Release" >NUL
      set PATH=%cd%\3rdparty\bin;%cd%\build\Release;%PATH%

test_script:
  - cmd: |
      cd build\Release
      run_net
      run_net_c
      move model ..
      cd ../..
  - cmd: |
      cd java
      gradlew.bat clean build --info
      cd ..
  - cmd: |
      cd python
      set PATH=%PYTHON2%;%PYTHON2%\Scripts;%PATH%
      python --version
      pip install numpy
      python tests/test.py
      python setup.py install
      python setup.py clean
      set PATH=%PYTHON3%;%PYTHON3%\Scripts;%PATH%
      python --version
      pip install numpy
      python tests/test.py
      python setup.py install
      python setup.py clean
      cd ..

branches:
  only:
    - master
